/**body**/
body{
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

/**top background**/
.bg {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	background-color: #3F51B5;
}

.bottom-bg {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 251px;
    background-color: #283593;
   }

.mui-tabs {
	position: absolute;
	top: 251px;
}

.mui-panel {
	margin-left: 4%;
	margin-right: 4%;
}
