	body{
	margin            : 0;
	}

	h1{
	height            : 130px;
	width             : 100%;
	margin            : 0;
    color             : #E0F2F1;
	font-size         : 50px;
	text-align        : center;
	padding-top       : 70px;
	background-color  : #009688;
	}

	.menu{
	height            : 40px;
	width             : 100%;
	margin            : 0;
	background-color  : #00897B;
	}

    .menu > li{
    list-style-type   : none;
    }

	.menu > li > a{
    height            : 25px;
    width             : 60px;
    float             : left;
    display           : inline;
    text-decoration   : none;
    padding           : 12px 0px 0px 20px;
    background-color  : #eef;
	}
